################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gert.Model/bin/Debug/System.Web.Mvc.dll
/Gert.Site/bin/Rotativa.dll
/Gert.Email/bin/Debug
/Gert.Email/obj/Debug
/_ReSharperPlatformVs121.Gert
/Gert.Model/bin/Debug
