@using Gert.Model.DataBase.Model
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div id="areaComum">
        <div class="col-md-7">
            <h2>GERT - Gestor de Trabalhos Escolares</h2>
            <p style="text-align: justify">
                Nunca mais perca prazos para seus trabalhos escolares<b/>
            </p>
            <p style="text-align: justify">
                Área do Aluno<b/>
            </p>
            <p class="text-center">
                <img src="@Url.Content("~/Img/site/index.jpg")" />
            </p>
        </div>

        <div class="col-md-offset-1 col-md-4">

        </div>
    </div>
</div>

@Html.Partial("_FiltroTarefasAluno", ViewData)