@model Gert.Model.DataBase.Model.Usuario

<script>
    $.validator.unobtrusive.parse(document);
</script>

<br />
<div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-link"></i></span>    
    <input aria-describedby="sizing-addon2" class="form-control input-validation-error" data-val-required="Login é obrigatório" id="Login" name="Login" type="text" value="aluno">
</div>
<br />
<div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-share"></i></span>
    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", placeholder = "Senha" } })    
</div>
@Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
<br/>
<div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-check"></i></span>
    @Html.EditorFor(model => model.ConfirmarSenha, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirmar Senha" } })    
</div>
@Html.ValidationMessageFor(model => model.ConfirmarSenha, "", new { @class = "text-danger" })
